/* [INPUT] styles/variables.css中定义的CSS变量 */
/* [OUTPUT] App组件的CSS样式, 定义应用根容器的样式 */
/* [POS] 应用层的样式文件, 为App组件提供样式定义(旧版本, 可能不再使用) */
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* 移动端优化 */
  position: relative;
  overflow-x: hidden;
}

/* 确保路由内容正确显示 */
.app > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

